@keyframes titulo {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(90px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideContainer {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(40px);
    }
}

/* Animacion artículos */

@keyframes articlesUrl--2 {
    0% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(1\).webp);
    }
    15% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(1\).webp);
    }
    20% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(2\).webp);
    }
    40% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(2\).webp);
    }
    45% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(3\).webp);
    }
    65% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(3\).webp);
    }
    70% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(4\).webp);
    }
    90% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(4\).webp);
    }
    95% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(1\).webp);
    }
    100% {
        background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(1\).webp);
    }
}

@keyframes articlesUrl--1 {
    0% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick.webp);
    }
    15% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick.webp);
    }
    20% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(1\).webp);
    }
    40% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(1\).webp);
    }
    45% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(2\).webp);
    }
    65% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(2\).webp);
    }
    70% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(3\).webp);
    }
    90% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick\ \(3\).webp);
    }
    95% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick.webp);
    }
    100% {
        background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick.webp);
    }
}

@keyframes articlesUrl--3 {
    0% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira.webp);
    }
    15% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira.webp);
    }
    20% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(1\).webp);
    }
    40% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(1\).webp);
    }
    45% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(2\).webp);
    }
    65% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(2\).webp);
    }
    70% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(3\).webp);
    }
    90% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira\ \(3\).webp);
    }
    95% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira.webp);
    }
    100% {
        background-image: url(../assets/img/sillon-colgante-en-ratan-taveira.webp);
    }
}

@keyframes articlesUrl--4 {
    0% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    15% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    20% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(1\).webp);
    }
    40% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(1\).webp);
    }
    45% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).webp);
    }
    65% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).webp);
    }
    70% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).webp);
    }
    90% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).webp);
    }
    95% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    100% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
}

@keyframes articlesUrl--5 {
    0% {
        background-image: url(../assets/img/decoracion-de-pared-josep.webp);
    }
    15% {
        background-image: url(../assets/img/decoracion-de-pared-josep.webp);
    }
    20% {
        background-image: url(../assets/img/decoracion-de-pared-josep.jpg);
    }
    40% {
        background-image: url(../assets/img/decoracion-de-pared-josep.jpg);
    }
    45% {
        background-image: url(../assets/img/decoracion-de-pared-josep\ \(1\).webp);
    }
    65% {
        background-image: url(../assets/img/decoracion-de-pared-josep\ \(1\).webp);
    }
    70% {
        background-image: url(../assets/img/decoracion-de-pared-josep\ \(2\).webp);
    }
    90% {
        background-image: url(../assets/img/decoracion-de-pared-josep\ \(2\).webp);
    }
    95% {
        background-image: url(../assets/img/decoracion-de-pared-josep.webp);
    }
    100% {
        background-image: url(../assets/img/decoracion-de-pared-josep.webp);
    }
}

@keyframes articlesUrl--6 {
    0% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara.webp);
    }
    15% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara.webp);
    }
    20% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(1\).webp);
    }
    40% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(1\).webp);
    }
    45% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(2\).webp);
    }
    65% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(2\).webp);
    }
    70% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(3\).webp);
    }
    90% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara\ \(3\).webp);
    }
    95% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara.webp);
    }
    100% {
        background-image: url(../assets/img/figura-decorativa-en-mdf-adara.webp);
    }
}

@keyframes loginBackgroundAnim {
    from{
        background-position-x: right;
        background-size: 150%;
    }to{
        background-position-x: left;
        background-size: 140%;
    }
}

.desplegarAnim{
    animation: 500ms desplegarAnim;
    animation-fill-mode: forwards;
}

.desDesplegarAnim{
    animation: 500ms desplegarAnim reverse;
    animation-fill-mode: forwards;

}

@keyframes desplegarAnim {
    from{
        transform: translateY(0px);
    }to{
        transform: translateY(600px);
    }
}

@keyframes articlesUrl--4--colores {
    0% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    7.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    10% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(6\).webp);
    }
    20% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(6\).webp);
    }
    22.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(4\).webp);
    }
    32.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(4\).webp);
    }
    35% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).webp);
    }
    45% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).webp);
    }
    47.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).jpg);
    }
    50% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(2\).jpg);
    }
    50% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.jpg);
    }
    52.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.jpg);
    }
    55% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).webp);
    }
    65% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).webp);
    }
    67.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).jpg);
    }
    77.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(3\).jpg);
    }
    80% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(1\).jpg);
    }
    90% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel\ \(1\).jpg);
    }
    92.5% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
    100% {
        background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
    }
}


@keyframes complementos {
    from{
        transform: translateX(200px);
    }to{
        transform: translateX(500px);
    }
}

