.container__header{
    grid-area: header;
}

.container__main{
    grid-area: main;
    border: 1px solid blue;
}

.container__footer{
    grid-area: footer;
}

.container{
    grid-template:
    "header " 200px
    "main " 1000px
    "footer " 200px /
    1fr;
}