
/* AREAS */

.container__header{
    grid-area: header;

}

main{
    grid-area: main;

}

.container_carrusel{
    grid-area: carrusel;

}

.container__footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
}

/* Oculto elementos en mobile first */

/* HEADER */
.header_list{
    display: none;
}

.header_a{
    display: none;
}

.header_div{
    width: 50px;
}

.header_a--rounded{
    display: none;
}

/* Footer */
.footer_div--info{
    display: none;
}

.footer_div--rss{
    display: none;
}

@media screen and (min-width: 600px) {
    .div_i--menuIcono{
        display: none !important;
    }

    .header_list, .header_div{
        display: flex;
    }

    .header_div{
        width: 550px;
    }

    .header_a--rounded{
        display: block;
    }

    .header_a{
        display: block;
    }

    .container--MQ{
    
        grid-template:
        "header " 20px
        "carrusel" 600px
        "main" 550px
        "footer " 200px /
        1fr;
    
    }

    .div_div--flexboxPayMethod{
        display: flex;
    }

}

@media screen and (min-width: 825px) {

    .footer_div--info{
        display: block;
    }
    
    .footer_div--rss{
        display: block;
    }


    .container--MQ{
    
        grid-template:
        "header " 20px
        "carrusel" 640px
        "main" 850px
        "footer " 200px /
        1fr;
    
    }


    .main_section--complementosBanner{
        display: flex;

    }

}

@media screen and (min-width: 1100px) {

    .main_article--4--detalles{
        width: 500px;
        height: 700px;
    }


    .container--MQ{
    
        grid-template:
        "header header" 20px
        "carrusel main" 900px
        "footer footer" 200px /
        3fr 2fr;
        width: 95%;
    }

    .main_section--complementosBanner{
        width: 500px;
        margin: auto;
    }

    .main_section--complementosBanner::before{
        transform: translateY(-100px);
        width: 500px;
        margin: auto;
    }

    .div_p--presentación{
        font-size: 20px;
    }

    main{
        padding-top: 60px;
    }

    .main_section--complementosBanner{
        display: flex;
    }

}

@media screen and (min-width: 1400px) {

    .container--MQ{
    
        grid-template:
        "header header" 20px
        "carrusel main" 900px
        "footer footer" 200px /
        3fr 2fr;
        padding: 20px;
    }

    main{
        padding-top: 60px;
    }

    .main_section--complementosBanner{
        display: flex;
    }

    .main_section--complementosBanner{
        width: 800px;
        margin: auto;
    }

    .container_carrusel{
        width: 100%;
        height: 100%;
    }

    .main_article--4--detalles{
        margin-top: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 80px);
        background-position-y: -110px;
    }

    .div_p--presentación{
        font-size: 28px;
    }
}