@font-face {
    font-family: UnscreenMK;
    src: url('../assets/founts/UnscreenMK.ttf');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-y: auto;
}

.body--oscuro{
    background-color: rgb(107, 107, 107);
}

.container, .container--noMQ, .container--noMQ--login, .container--MQ{
    position: relative;
    padding: 0;
    /*width: 1000px;*/
    width: 100%;
    overflow: hidden;
    /*background-image: url("../assets/img/iStock-1323313187_edit.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;*/
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    border-radius: 10px;
}

.container--noMQ--login{
    margin: auto;
    width: 1000px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-position-x: right;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-image: url(../assets/img/iStock-1166941714.jpg);
    background-size: 160%;
    background-color: rgb(228, 228, 215);
    animation: loginBackgroundAnim 60s ease-in-out;
}

.container{
    background-color: rgb(236, 236, 236);
}

.container--index{
    width: 1200px;
    margin: auto;
}


.container--noMQ{
    margin: auto;
    max-width: 1200px;
    background-color: rgb(236, 236, 236);
}

.container--MQ{
    margin: auto;
    max-width: 1600px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    display: grid;

    grid-template:
    "header " 20px
    "carrusel" 600px
    "main" 450px
    "footer " 200px /
    1fr;

}

.main_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.main_video, .main_video--1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

/* HEADER */
.container_header {
    width: 100%;
    height: 45px;
    top: 20px;
    position: fixed;
    left: 50%;
    /* Centra el encabezado horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para centrar completamente */
    display: flex;
    justify-content: center;
    z-index: 2000;
}


.header_div, .header_div--article, .header_div--articleColor--Blue, .header_div--articleColor--Black, .header_div--articleColor--Beige, .header_div--input {
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    padding: 0 10px;
    z-index: 100;
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: 0.4s all;
}

.header_div--article, .header_div--input{
    width: 150px;
    height: 30px;
    background-color: rgba(34, 34, 34, 0.35);
    box-shadow: 0px 0px 2px rgba(63, 63, 63, 0.347);
    transition: 0.4s all;
    padding: 0;
}

.header_div--input{
    width: auto;
    text-align: center;
    border: none;
    outline: none;
    margin: 10px;
    font-weight: 700;
}

.header_div--input::placeholder{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.header_div--input:focus {
    /*background-color: rgba(255, 255, 255, 0.11);*/
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: 0.4s all;
    color: white;
}

.header_div--input:focus::placeholder {
    color: #00000000;
}

.header_div--articleColor--Blue, .header_div--articleColor--Black, .header_div--articleColor--Beige{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(34, 34, 34, 0.35);
    box-shadow: 0px 0px 2px rgba(63, 63, 63, 0.347);
    margin-left: 5px;
}

.header_div--articleColor--Blue{
    background-color: rgba(0, 140, 255, 0.301);
}

.header_div--articleColor--Black{
    background-color: rgba(245, 245, 220, 0.445);
}

.header_div--articleColor--Beige{
    background-color: rgba(0, 0, 0, 0.5);
}

.header_div:hover {
    background-color: rgba(34, 34, 34, 0.35);
    box-shadow: 0px 0px 2px rgba(63, 63, 63, 0.347);
    transition: 0.4s all;
}

.header_div--article:hover {
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: 0.4s all;
}



.header_div--article:hover .header_a--article{
    color: black;
    font-weight: bold;
}

.header_list, .header_list--desplegable {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

.header_list--desplegable{
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.list_item, .list_item--desplegable {
    margin: 15px;
}

.list_item--desplegable{
    text-align: center;
    margin: 10px;
    margin-bottom: 1px solid white;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.422);
}

.list_item--desplegable:first-child{
    text-align: center;
    margin: 10px;
    margin-top: 1px solid white;
    margin-bottom: 1px solid white;
}

.header_btn {
    background-color: rgba(255, 255, 255, 0);
}

.header_a, .header_a--rounded, .header_a--article, .header_a--desplegable {
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    /*
    box-shadow: 0px -5px 10px inset rgb(255, 255, 255);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.445);
    */
    /* https://www.visualcsstools.com/ */
    transition: all 0.4s;
}

.header_a--rounded, .div_i--menuIcono{
    border: 2px solid rgba(255, 255, 255, 0.479);
    border-radius: 25%;
}

.div_i--menuIcono{
    padding: 5px;
    display: block;
}

.header_a--article{
    font-size: small;
}

.section_a, .section_a--payMethod{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.096);
    box-shadow: 0 0 5px #474747a9;
    border-radius: 15px;
    padding: 20px;
    color: #474747;
    font-weight: normal;
    transition: all 200ms !important;
    text-decoration: none;
}

.section_a--payMethod{
 width: 39%;
 margin: 5px;
}

.div_div--flexboxPayMethod{
    margin-top: 10px;
    display: none;
}

.section_a:hover, .section_a--payMethod:hover{
    background-color: rgb(214, 214, 214);
    transition: all 50ms;
}

.section_a:hover .div_p--presentaciónBoton ,.section_a--payMethod:hover .fa-brands{
    color: #1f1f1f !important;
    transition: all 50ms;
    font-weight: bold;
}

.section_a--payMethod:hover .fa-brands{
    font-weight: lighter;
}

.section_a--fotosArticulos{
    text-decoration: none;
}




/* INTENTO ANIMAR CON EL BOTON INICAR SESION */


/* MAIN */

.container_main,.container_main--index {
    top: 0;
    width: 100%;

}

.container_main--index {
    margin: auto;
    border-radius: 10px;
    margin-top: 5px;
}

.main_img{
    border-radius: 10px;

}


.container_main--1{
    background-image: url(svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMWYxZjFmIi8+PHN0b3Agb2Zmc2V0PSIwLjg4IiBzdG9wLWNvbG9yPSIjNDc0NzQ3Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiM0NzQ3NDciIC8+PHJlY3QgeD0iLTEwMCUiIHk9Ii0xNDcuODQ0OCUiIHdpZHRoPSIyMDAlIiBoZWlnaHQ9IjI5NS42ODk3JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 343, color-stop(0%, #1f1f1f), color-stop(88%, #474747));
    background-image: -webkit-radial-gradient(left top, farthest-side circle, #1f1f1f 0%, #474747 88%);
    background-image: -moz-radial-gradient(left top, farthest-side circle, #1f1f1f 0%, #474747 88%);
    background-image: -ms-radial-gradient(left top, farthest-side circle, #1f1f1f 0%, #474747 88%);
    background-image: -o-radial-gradient(left top, farthest-side circle, #1f1f1f 0%, #474747 88%);
    background-image: radial-gradient(farthest-side circle at left top, #1f1f1f 0%, #474747 88%);
    box-shadow: 1px 1px 1px #1f1f1f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container_main--articlesWrap{
    display: flex;
    flex-wrap: wrap;
}

/* PORTADA */

/* SECTIONS */

.main_section--complementosBanner::before{
    content: "Complementa el look";
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
    color: black;
    font-size: xx-large;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.301);
    transform: translateY(-100px);
    position: absolute;
    font-weight: 700;
    max-width: 900px;

}

.main_section--complementosBanner{
    background-color: black;
    height: 230px;
    overflow: hidden;
    display: none;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 900px;
    margin: auto;
}

.section_list--complementosLista{
    margin: 20px auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    animation: complementos 20s infinite;
    animation-timing-function: linear;
}

.list_item--complementosBanner--1 ,.list_item--complementosBanner--2,.list_item--complementosBanner--3,.list_item--complementosBanner--4,.list_item--complementosBanner--5{
    width: 120px;
    background-size: cover;
    height: 170px;
    margin: 0 10px;
    position: relative;
    z-index: -1;
}

.list_item--complementosBanner--1{
    background-image: url("../assets/img/lampara-de-pie-en-ceramica-warwick.webp");
}

.list_item--complementosBanner--2{
    background-image: url("../assets/img/sillon-colgante-en-ratan-taveira.webp");
}

.list_item--complementosBanner--3{
    background-image: url("../assets/img/figura-decorativa-en-mdf-adara.webp");
}

.list_item--complementosBanner--4{
    background-image: url("../assets/img/sillon-en-chenilla-nicxon.webp");
}

.list_item--complementosBanner--5{
    background-image: url("../assets/img/decoracion-de-pared-josep.jpg");
}

.main_hr{
    content: "";
    top: -150px;

    position: relative;

    display: block;
    z-index: 50;
    width: 100%;
    height: 150px;

    background-image: url(svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDE3OSwgMTc5LCAxNzksIDAuMDAxKSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiKDIzNiwgMjM2LCAyMzYpIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(179, 179, 179, 0.001)), color-stop(100%, rgb(236, 236, 236)));
    background-image: -webkit-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -moz-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -ms-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -o-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: linear-gradient(to bottom, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
}

.section_div--1{
    margin: 5px 40px;
    border: 1px solid rgba(128, 128, 128, 0.096);
    box-shadow: 0 0 5px #474747a9;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    transition: 500ms;
}

.section_div--1::after{
    content: "";
    background-color: rgb(49, 49, 49);
    width: 120%;
    height: 120%;
    position: absolute;
    top: -30px;
    left: -1300px;
    z-index: -5;
    transition: all 300ms;
    
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(255,255,255,0) 100%)
}

.section_div--1:hover::after{
    transform: translateX(1200px);
    transition: 300ms;
}

.section_div--1:hover{
    transition: all 500ms;
    background-color: rgb(56, 56, 56);
    box-shadow: 0 0 7px #000000b9;
    border: 1px solid rgb(0, 0, 0);
}

.section_div--1:hover .div_p--presentación{
    color: white;
    transition: all 700ms;
}

.section_div--1:hover .div_p--presentaciónBoton{
    color: white;
    transition: all 700ms;
}

.section_div--1:hover .section_a{
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.336);
    transition: all 700ms;
}



.main_section,.main_section--1,.main_section--2{
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_section--1{
    margin: 0;
}

.main_section--2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_container,.main_container--1{
    width: 1100px;
    margin: auto;
    position: relative;
    z-index: 10;
}

.main_container--1{
    width: 1100px;
    margin: auto;
    position: static;
}

.main_section--banner{
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

/* ARTÍCULOS */
.main_article, .main_article--1,  .main_article--2,  .main_article--3,  .main_article--4, .main_article--5, .main_article--6, .main_article--4--detalles{
    height: 500px;
    margin: 15px;
    overflow: hidden;
    width: 400px;
    background-size: cover;
    background-position-y: -60px;
    transition: all 200ms;
}

.main_article--1,  .main_article--2,  .main_article--3,  .main_article--4, .main_article--5, .main_article--6, .main_article--4--detalles{
    display: flex;
    align-items: end;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
}

/* CADA ARTÍCULO */

.main_article--1{
    background-image: url(../assets/img/lampara-de-pie-en-ceramica-warwick.webp);
}
.main_article--1:hover{
    animation: articlesUrl--1 infinite 5s;
}

.main_article--1:hover::before {
    opacity: 0;
}

.main_article--1::before{
    content: "PVP: 29,99€ \A LÁMPARA DE PIE WARWICK";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}

.main_article--2{
    background-image: url(../assets/img/sillon-en-chenilla-nicxon\ \(1\).webp);
}
.main_article--2:hover{
    animation: articlesUrl--2 infinite 5s;
}

.main_article--2:hover::before {
    opacity: 0;
}

.main_article--2::before{
    content: "PVP: 79,99€ \A SILLA CÓMODA CON TEXTURA SEDA";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}


.main_article--3{
    background-image: url(../assets/img/sillon-colgante-en-ratan-taveira.webp);
}
.main_article--3:hover{
    animation: articlesUrl--3 infinite 5s;
}

.main_article--3:hover::before {
    opacity: 0;
}

.main_article--3::before{
    content: "PVP: 56,99€ \A SILLÍN COLGANTE";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}

.main_article--4, .main_article--4--detalles{
    background-image: url(../assets/img/cojin-para-sofa-modular-en-algodon-dhel.webp);
}
.main_article--4:hover{
    animation: articlesUrl--4 infinite 5s;
}

.main_article--4:hover::before {
    opacity: 0;
}

.main_article--4::before{
    content: "PVP: 78,99€ \A COJÍN PARA SOFÁ HECHO DE SEDA A MANO";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}

.main_article--4--detalles{
    display: flex;
    justify-content: end;
    width: 300px;
    height: 450px;
    background-position-y: 0px;
}

.main_article--4--detalles{
    animation: articlesUrl--4--colores infinite 10s;
}

.main_article--5{
    background-image: url(../assets/img/decoracion-de-pared-josep.webp);
}
.main_article--5:hover{
    animation: articlesUrl--5 infinite 5s;
}

.main_article--5:hover::before {
    opacity: 0;
}

.main_article--5::before{
    content: "PVP: 14,99€ \A DECORACIÓN SUREÑA COLGABLE";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}

.main_article--6{
    background-image: url(../assets/img/figura-decorativa-en-mdf-adara.webp);
}
.main_article--6:hover{
    animation: articlesUrl--6 infinite 5s;
}

.main_article--6:hover::before {
    opacity: 0;
}

.main_article--6::before{
    content: "PVP: 9,99€ \A DECORACIÓN PARA SOBREMESA";
    white-space: pre;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 5px#1f1f1f1a;
    opacity: 1;
    transition: 1s all;
}

.article_div--complementosArticulo{
    display: flex;
}

.article_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container_carrusel{
    margin: auto;
}


.container_carrusel::before{
    content: "Cojin para sofá modular";
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    box-shadow: 0 0 4px #1f1f1f3b;
    margin: auto;
    width: fit-content;
    padding: 10px 20px;
    display: block;
    color: #1f1f1f;
    position: relative;
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

/* Login */

.main_login{
    margin: auto;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    z-index: 100;
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: 0.4s all;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form_div--rowFlex{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div_div--generoDiv, .div_div--fechaNac{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_div--fechaNac{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* DESPLEGABLE */

.section_desplegable{
    margin: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.699);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    min-height: 500px;
    display: flex;
    position: absolute;
    z-index: 4000;
    top: -500px;
    left: 0px;
    height: 500px;
}

/* FOOTER */



.item_a--footer{
    text-decoration: none;
    color: #1f1f1f;

}

.container__footer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    margin-top: 20px;
    background-color: #b3b3b325;
    border-radius: 10px;
    box-shadow: 0 0 6px #18181852;
}
/* FORM */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEXTO */
.section_p--banner{
    font-family: 'UnscreenMK', sans-serif;
    color: yellow;
    font-size: 35px;
    position: relative;
    left: 1200px;
    z-index: 50;
    animation: blackFriday--banner;
    animation-duration: 70s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    padding-bottom: 5px;
    text-shadow: 0 0 40px rgb(255, 255, 0);
}

input[type="radio"]{
    border: none !important; /* NO FUNCIONA */
}

.login_label, .login_label--peq{
    text-shadow: 0 0 4px rgba(49, 49, 49, 0.199);
    color: #333333;
    font-size: 3em;
    display: block;
}

.login_label--peq{
    font-size: smaller;
}

.main_h2--Título {
    display: block;
    position: absolute;
    left: -280px;
    top: -70px;
    font-size: 6em;
    animation: titulo 10s forwards;
    animation-timing-function: linear;
    z-index: 20;
}

.main_h3--Título, .main_h4--Título{
    display: block;
    position: absolute;
    left: calc(58% + 7px);
    top: 470px;
    font-size: 1em;
    animation: titulo--h3 100s forwards;
    z-index: 20;
}

.main_h3--Título{
    top: -30px;
    font-size: 5em;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.main_h4--Título{
    top: 720px;
    left: calc(58% + 140px);
    animation: titulo--h4 60s forwards;
    animation-delay: 30s;
    animation-iteration-count: infinite;
}

.div_p--presentación, .div_p--presentaciónBoton{
    color: rgb(65, 65, 65);
    font-size: 2em;
    margin: 0;
}

.div_p--presentaciónBoton{
    font-size: 2.3cap;
    transition: all 300ms !important;
}

.container_footer{
    height: 100px;
    background-color: black;
}

.main_p--subtitle{
    color: #1f1f1f;
    text-align: center;
}

/* MISCELACNEO */

.main_div--animacionIndex{
    width: 1200px;
    height: 1000px;
    position: absolute;
    z-index: 700;
    top: 0;
}

.main_div--overflowIndexChimenea,.main_div--overflowIndexChimenea--2{
    position: absolute;
    top: 163px;
    left: 807px;
    height: 138px;
    width: 250px;
    overflow: hidden;
}

.main_div--overflowIndexChimenea--2{
    top: 350px;
    left:  2px;
    height: 400px;
    width: 637px;
}