html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


body{
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-y: auto;

}

/* SECTION PARA EL HEADER */
.main_section--2{
    height: 200px;
    position: absolute;
    z-index: -10;
}

.container{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    /*background-image: url("../assets/img/iStock-1323313187_edit.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;*/
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}



/* HEADER */
.container__header{
    width: 100%;
    height: 45px;
    top: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.header_div{
    width: 550px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    padding: 0 10px;
    z-index: 100;
    box-shadow: 0px 0px 10px inset rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: 0.4s all;
}

.header_div:hover{
    background-color: rgba(34, 34, 34, 0.35);
    box-shadow: 0px 0px 2px rgba(63, 63, 63, 0.347);
    transition: 0.4s all;
}

.header_list{
    list-style: none;
    display: flex;
    margin-right: 10px;
}

.list_item{
    margin: 15px;
}

.header_btn{
    background-color: rgba(255, 255, 255, 0);
}

.header_a{
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    /*
    box-shadow: 0px -5px 10px inset rgb(255, 255, 255);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.445);
    */
    /* https://www.visualcsstools.com/ */

    transition: all 0.4s;
}

/* INTENTO ANIMAR CON EL BOTON INICAR SESION */
.header_a:hover + .container{
    top: 40px;
    background-color: aqua;
    transition: all 2s;
}


/* MAIN */

/* PORTADA */
.container__main{
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -80px;
}

.main_h2--Título{
    display: none;
    position: absolute;
    left: 58%;
    top: 300px;
    font-size: 6em;
    animation: titulo 70s forwards;
    animation-iteration-count: infinite;
    z-index: 20;
}

.main_h3--Título{
    display: none;
    position: absolute;
    left: 58%;
    top: 300px;
    font-size: 1em;
    /*animation: titulo 70s forwards;
    animation-iteration-count: infinite;*/
    z-index: 20;
}

/* SECTIONS */
..main_section--1{
    position: relative;
    z-index: 1;
}

.main_section--1::after{
    content: "";
    top: -190px;
    position: relative;
    display: block;
    z-index: 60;
    width: 100%;
    height: 150px;
    border: 1px solid red;
    background-image: url(svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDE3OSwgMTc5LCAxNzksIDAuMDAxKSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiKDIzNiwgMjM2LCAyMzYpIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(179, 179, 179, 0.001)), color-stop(100%, rgb(236, 236, 236)));
    background-image: -webkit-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -moz-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -ms-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: -o-linear-gradient(top, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
    background-image: linear-gradient(to bottom, rgba(179, 179, 179, 0.001) 0%, rgb(236, 236, 236) 100%);
}

.main_section,.main_section--1,.main_section--2{
    background-color: rgb(236, 236, 236);
    width: 100%;
}

.main_section--1,.main_section--2{
    height: 500px;
    border: 1px solid red;
}

/* DIV PARA EL SECTION DE ARTÍCTULOS */

.section_div{
    border: 1px solid red;
    margin: 20px;
}


/* FOOTER */



